{% extends "outlet/basic.html" %}
{% block title%}title of about {% endblock %}
{% block body%}
 {% load static %}
<section class="section">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">About GMIT</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{% static 'upload/author.jpg' %}" alt="" class="img-fluid rounded-circle">
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">GMIT</a></h4>
                                <p>Gargi Memorial Institute of Technology (GMIT), an engineering institute in West
                                    Bengal was started in 2011 by Mallabhum Human Resource Development Trust (MHRDT) in
                                    memory of Lt. Gargi Mukherjee (Banerjee).

                                    Barely in its 5th year, GMIT has been ranked 8th amongst all emerging engineering
                                    colleges in India because of its educational excellence and professional
                                    infrastructural facilities.<a href="#">visit our website</a> The Institute is
                                    located on the southern fringe of Kolkata, at Baruipur, an upcoming satellite town
                                    and caters to students from reputed schools of India.</p>

                                <div class="topsocial">
                                    <a href="https://www.facebook.com/GMIT.KolkataIN/" data-toggle="tooltip"
                                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.youtube.com/watch?v=eaJ090Goxak" data-toggle="tooltip"
                                        data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>

                                    <a href="https://www.gmitkolkata.org/" data-toggle="tooltip" data-placement="bottom"
                                        title="Website"><i class="fa fa-link"></i></a>
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->

                        <br>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{% static 'upload/author.jpg' %}" alt="" class="img-fluid rounded-circle">
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">Vision and Mission</a></h4>
                                <p><strong>Vision :</strong>To be among the country’s most admired Professional
                                    Institutes where students are trained to take up leadership positions in
                                    industry.<br>
                                    <strong>Mission :</strong>
                                <ol>
                                    <li>To maintain conducive infrastructure and stimulating academic environment for
                                        continual professional and leadership growth of the students.</li>
                                    <li>To encourage self-evaluation, accountability, creativity and
                                        self-disciplineamong the students.</li>
                                    <li>To develop students with moral and ethical values to serve the society.</li>
                                </ol>
                                <br>
                                <strong>Values :</strong>To build an awareness among the students that goes beyond
                                technical knowledge by inducing ethical responsibility in the practice of the
                                profession,and fostering local, national and global competencies as well as enabling
                                them to shoulder social responsibilities.<br>
                                </p>

                                <div class="topsocial">
                                    <a href="https://www.facebook.com/GMIT.KolkataIN/" data-toggle="tooltip"
                                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.youtube.com/watch?v=eaJ090Goxak" data-toggle="tooltip"
                                        data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>

                                    <a href="https://www.gmitkolkata.org/" data-toggle="tooltip" data-placement="bottom"
                                        title="Website"><i class="fa fa-link"></i></a>
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->
                        <br>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{% static 'upload/author.jpg' %}" alt="" class="img-fluid rounded-circle">
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">Founder Chairman Late Shri Dhurjoti Banerjee</a></h4>
                                <p>May your soul rest in peace, may we follow your footsteps to build GMIT as one of the
                                    pioneer institutes of the country. We take the challenge to be the best with the
                                    courage you have given, we always remember you in every crisis and in every joy, and
                                    you are immortal in our heart.</p>

                                <div class="topsocial">
                                    <a href="https://www.facebook.com/GMIT.KolkataIN/" data-toggle="tooltip"
                                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.youtube.com/watch?v=eaJ090Goxak" data-toggle="tooltip"
                                        data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>

                                    <a href="https://www.gmitkolkata.org/" data-toggle="tooltip" data-placement="bottom"
                                        title="Website"><i class="fa fa-link"></i></a>
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->
                        <br>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{% static 'upload/author.jpg' %}" alt="" class="img-fluid rounded-circle">
                            </div><!-- end col -->

                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">Late Smt. Gargi Mukherjee</a></h4>
                                <p>Late Gargi Mukherjee (Banerjee), a former trustee of MHRDT had dreamt of starting an
                                    Engineering Institute that would approach technical education from a refreshingly
                                    new perspective. With her own illustrious academic background (Civil Engineer –
                                    Bengal Engineering College), she has understood the special needs of engineering
                                    students in the state and had hoped to start an engineering institute that would
                                    address those needs and offer technical education of a significantly high quality.
                                    GMIT, constantly strive to live up to the dream of this gifted lady, who had
                                    originally envisioned the institute.</p>

                                <div class="topsocial">
                                    <a href="https://www.facebook.com/GMIT.KolkataIN/" data-toggle="tooltip"
                                        data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.youtube.com/watch?v=eaJ090Goxak" data-toggle="tooltip"
                                        data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>

                                    <a href="https://www.gmitkolkata.org/" data-toggle="tooltip" data-placement="bottom"
                                        title="Website"><i class="fa fa-link"></i></a>
                                </div><!-- end social -->

                            </div><!-- end col -->
                        </div><!-- end row -->

                    </div><!-- end author-box -->

                    <hr class="invis1">
                </div><!-- end page-wrapper -->


                <hr class="invis">
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock %}